
.containerItemList {
    position: relative;
    width: 100%;
}
.imgMate {
    position: absolute;
    right: 150px;
    top: 10px;
    width: 650px;
    height: auto;
    opacity: 0.2;
    z-index: -2;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}